h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 6em;
  font-family: Roboto;
  transition: all 0.5s;
}

@media screen and (max-width: 400px) {
  body {
    background-color: red;
  }
}

body {
  background-color: green;
}

@media screen and (min-width: 600px) {
  body {
    background-color: blue;
  }
}
